.wrapper {
  display: flex;
  flex-direction: column;
  width: 100wv;
  height: 100wh;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 156px;
}

.headerLogo {
  margin-left: 70px;
  width: 246px;
  height: 102px;
  cursor: pointer;
  background-image: url(../public/logo.png);
  background-repeat: no-repeat;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  width: 580px;
  margin-left: 540px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline #fa4a0c;
  transform: scale(105%);
  transition: all 0.1s ease;
}

.orange {
  color: #fa4a0c;
}

.articleOne {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 674px;
  flex-direction: column;
  background-image: url(../public/Rectangle48.png);
  background-repeat: no-repeat;
}

.mainText {
  display: flex;
  flex-direction: column;
  width: 1005px;
  height: 326px;
  margin-top: 132px;
  align-items: center;
  justify-content: center;
}

.smallHeader {
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin-top: -60px;
  margin-bottom: 30px;
}

.centralText {
  color: white;
  font-size: 65px;
  font-weight: 800;
}

.bottomText {
  color: white;
  font-size: 65px;
  font-weight: 800;
  margin-bottom: 30px;
}

.smallBottomText {
  color: white;
  font-size: 31px;
}

.buttonsSection {
  display: flex;
  width: 1005px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 200px;
}

.topButtonLeft {
  width: 236px;
  height: 68px;
  border-radius: 30px;
  font-size: 25px;
  margin-left: 300px;
  color: white;
  background-color: #fa4a0c;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.topButtonLeft:hover {
  border: 4px solid white;
}

.topButtonRight {
  width: 236px;
  height: 68px;
  border-radius: 30px;
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  margin-left: 35px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.topButtonRight:hover {
  border: 4px solid #fa4a0c;
}

.twoPhones {
  position: absolute;
  width: 548px;
  height: 540px;
  background-image: url(../public/Group53.png);
  background-size: cover;
  background-position: center;
  margin-top: 460px;
}

.hr {
  width: 884px;
  height: 2px;

  margin-top: 440px;
  border: 2px solid #e4e4e4;
}

.h4 {
  margin-top: 50px;
  font-size: 45px;
  font-weight: 800;
}

.loginSection,
.loginSectionTwo,
.loginSectionThree {
  display: flex;

  background-repeat: no-repeat;
  margin-top: 480px;
  width: 1440px;
  height: 807px;
  margin-bottom: -620px;
}

.loginSection {
  background-image: url(../public/Rectangle1.png);
}
.loginSectionTwo {
  background-image: url(../public/Rectangle2.png);
  background-position-x: right;
}

.loginSectionThree {
  background-image: url(../public/Rectangle.png);
}

.loginSectionLeft {
  display: flex;
  width: 720px;
  height: 807px;
  justify-content: flex-end;
}

.loginSectionRight {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 807px;
  align-items: center;
  justify-content: center;
}

.sectionText {
  display: flex;
  flex-direction: column;
  width: 570px;
  height: 280px;
  align-items: flex-start;
  gap: 25px;
}

.orangeTextSection {
  color: #fa4a0c;
  font-size: 25px;
  font-weight: 800;
}

.centralTextSection {
  font-size: 50px;
  font-weight: 800;
}

.bottomTextSection {
  font-size: 35px;
  font-weight: 100;
  color: #737373;
}
.downloadSection {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 509px;
  margin-top: 620px;
  background-image: url(../public/Rectangle47.png);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.downTextOne {
  color: white;
  font-size: 55px;
}

.downTextTwo {
  color: white;
  font-size: 30px;
}

.bottomButtonsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 330px;
  height: 65px;
}

.botBtnL {
  width: 135px;
  height: 65px;
  border-radius: 10px;
  background-color: #fa4a0c;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.botBtnR {
  width: 175px;
  height: 65px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.1s ease;
}

.botBtnL:hover {
  border: 4px solid white;
}

.botBtnR:hover {
  border: 4px solid #fa4a0c;
}

.footer {
  display: flex;
  width: 1440px;
  height: 180px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.footerLogo {
  background-image: url(/public/logo.png);
  width: 206px;
  height: 78px;
  margin-left: 80px;
}

.socialSection {
  background-image: url(/public/social.png);
  display: flex;
  width: 171px;
  height: 41px;
}

.insta {
  background-image: url(/public/instagram.png);
  display: flex;
  width: 41px;
  height: 41px;
  margin-left: 130px;
  margin-top: 1px;
}

.footerText {
  font-size: 15px;
  margin-right: 80px;
}
